@model IEnumerable<Practical_10.Data.Models.User>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2 class="lead">For Any CRUD Operatiuon Go To User Tab (Available In Navigation Bar)</h2>
</div>
